* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root {
  /*-------- COLORS-------- */
  /* textcolor */
  --LOGO-COLOR: #a00;
  --TEXT-COLOR: #fff;
  --ICON-COLOR: gold;
  --FOOTER-TEXT-COLOR: black;
  /* BACKGROUND COLOR */
  --NAV-BG-COLOR: white;
  --FOOTER-BG-COLOR: #e0c1c1;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow-x: hidden;
}

img {
  display: block;
}

nav {
  outline: 2px solid var(--LOGO-COLOR);
  font-size: 1.3rem;
  background-color: var(--NAV-BG-COLOR);
}

/* BRAND LOGO */
.navbar-brand {
  color: var(--LOGO-COLOR);
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 50px;
}

/* START FREE BUTTON */
#start-free-btn {
  height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: var(--LOGO-COLOR);
}

#signup {
  color: white;
}

#first-nav {
  text-align: center;
}

main {
  padding: 100px;
}

main section {
  height: 130vh;
  outline: 2px solid green;
  padding: 20px;
}

/* First section and its children */

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 0.9rem;
}

.signup-btn {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.2rem;
  background-color: var(--LOGO-COLOR);
  color: var(--TEXT-COLOR);
}

/* SECOND SECTION AND ITS CHILDREN */

.main__section2 {
  text-align: center;
  height: 160vh;
}

.main__section2 h1 {
  font-size: 2rem;
}

.section2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.child h4,
span i {
  text-align: center;
}

.child {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  outline: 2px solid blue;
  width: 80%;
  height: 10%;
}

.child span {
  display: inline-block;
  outline: 1px solid blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
/* LAST SECTION SIGNUP FORM */
.signup-form {
  text-align: center;
  outline: 2px solid magenta;
  margin-top: 20px;
  padding: 10px;
}

/* ++++++++++  All section styles  ++++++++*/

.review {
  outline: 2px solid pink;
  margin-top: 50px;
  text-align: center;
  height: 20%;
  padding: 20px;
}

.review i {
  color: var(--ICON-COLOR);
}

/* FOOTER STYLES */

footer {
  outline: 2px solid yellow;
  background-color: var(--FOOTER-BG-COLOR);
  padding: 10px;
}

.footer__item h5 {
  display: inline-block;
  width: 40%;
}

.footer__item {
  display: flex;
  justify-content: space-around;
  outline: 2px solid red;
}

.footer__item span {
  width: 40%;
  outline: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item__ul {
  display: none;
}

footer section:last-of-type {
  text-align: center;
  outline: 2px solid grey;
}
/* HOVERING QUESTION MARK */

.question {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--LOGO-COLOR);
  display: flex;
  justify-content: center;
  align-items: center;
}

.question:hover,
.question:focus {
  background-color: rgb(211, 23, 23);
}

.question span {
  color: var(--TEXT-COLOR);
  font-size: 1.3rem;
  font-weight: 700;
}

/* LARGER SCREENS */
@media screen and (min-width: 1024px) {
  nav {
    height: 100px;
  }

  #navmenu {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }

  #last-nav {
    margin-right: 50px;
  }

  main section {
    height: 100vh;
  }

  /* First section*/

  .main__section1 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }

  .section1__div1 {
    width: 45%;
  }

  .section1__div2 {
    width: 45%;
    outline: 2px solid black;
  }

  /* SECTION 2 */

  .main__section2 {
    height: 100vh;
  }

  .section2-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .child {
    width: 30%;
    outline: 2px solid red;
  }

  /*  general section styles */

  .hero-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .intro,
  .media {
    width: 45%;
    outline: 2px solid blue;
    padding: 10px;
  }
}

@media screen and (min-width: 1280px) {
  /* FOOTER AND IT'S CHILDREN*/
  .footer__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }

  .footer__item h5 {
    width: 10%;
    outline: 2px solid brown;
  }

  .footer__item span {
    display: none;
  }

  /* the small ul styles */
  .footer__item__ul {
    display: flex;
    justify-content: flex-start;
    width: 85%;
    outline: 2px solid green;
  }

  .footer__item__ul li {
    margin: 0 20px;
    list-style: none;
    font-size: clamp(0.8rem, 0.9rem, 1rem);
  }

  .footer__item__ul li a {
    color: var(--FOOTER-TEXT-COLOR);
  }
}
