/* ____RESET_____ */

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

input,
button,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}
/* ______________ */

:root {
  /*-------- COLORS-------- */
  /* textcolor */
  --LOGO-COLOR: #a00;
  --TEXT-COLOR: #fff;
  --ICON-REVIEW-COLOR: gold;
  --ICON-BTN-COLOR: #a08d86;
  --FOOTER-TEXT-COLOR: black;
  --LIGHT-TEXT-COLOR: #5f5856;
  /* BACKGROUND COLOR */
  --NAV-BG-COLOR: white;
  --FOOTER-BG-COLOR: #e0c1c1;
  --NAV-HOVER-BG-COLOR: #dbcdcd;
  --ICON-BTN-BG-COLOR: #f5efeb;
  --BODY-BG-COLOR: #fdfbf9;

  /* ====== FONT SIZE ========== */
  --FONT-SIZE-XL: calc(32px + 18 * ((100vw - 421px) / 859));
}

/*::::::: UTILITIES ::::::*/
.light {
  color: var(--LIGHT-TEXT-COLOR);
}
/* ::::::::::::::::::::: */

body {
  font-family: tiempos, Georgia, Cambria, Palatino, "Times New Roman", Times,
    serif;
  overflow-x: hidden;
  background-color: var(--BODY-BG-COLOR);
}

img {
  display: block;
}

nav {
  font-size: 1.3rem;
  background-color: var(--NAV-BG-COLOR);
}

/* BRAND LOGO */
.navbar-brand {
  color: var(--LOGO-COLOR);
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 50px;
}

/* START FREE BUTTON */
#start-free-btn {
  height: 50px;
  border-radius: 20px;
  font-size: 1.2rem;
  background-color: var(--LOGO-COLOR);
  border: none;
}

#signup {
  color: white;
}

#first-nav {
  text-align: center;
}

main {
  padding: 25px;
}

main section {
  height: 130vh;
  padding: 20px;
}

/* First section and its children */

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 0.9rem;
}

.section1__div1 h1 {
  font-family: tiempos, Georgia, Cambria, Palatino, "Times New Roman", Times,
    serif;
  font-weight: 600;
  line-height: 1.32;
  font-size: var(--FONT-SIZE-XL);
}

.main__section1 {
  outline: 2px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  height: max-content;
}

.main__section1 figure {
  outline: 2px dotted orange;
  padding: 20px;
  background: linear-gradient(#e1e1e1, #ea2dbe);
  border-radius: 20px;
}

.section1-img {
  width: 80%;
  border-radius: 20px;
  height: auto;
  margin: 20px auto;
}

.signup-btn {
  width: 70%;
  height: 50px;
  border-radius: 50px;
  font-size: 1.2rem;
  background-color: var(--LOGO-COLOR);
  color: var(--TEXT-COLOR);
  border: none;
  margin-left: 30px;
}

/* SECOND SECTION AND ITS CHILDREN */

.main__section2 {
  text-align: center;
  height: max-content;
  outline: 2px solid yellow;
}

.main__section2 h1 {
  font-size: 2rem;
  font-weight: 600;
}

.section2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.child h4,
span i {
  text-align: center;
}

.child {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  height: 20%;
}

.child h4 {
  height: max-content;
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.child span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main__section2 p {
  color: var(--LIGHT-TEXT-COLOR);
}

/* THIRD SECTION */
.main__section3 {
  height: max-content;
}
.advert {
  text-align: center;
}

.advert h3 {
  font-size: 2rem;
}

/* LAST SECTION SIGNUP FORM */
.main__section6 {
  height: max-content;
}

.signup-form {
  text-align: center;
  color: white;
  margin: 20px auto;
  background-color: var(--LOGO-COLOR);
  padding: 30px;
  border-radius: 10px;
  height: 45vh;
  width: 80vw;
}

.signup-form h2 {
  font-weight: 600;
}

.signup-form p {
  font-size: 1.3rem;
}
/* To make 2nd the btn smaller in size and responsive */

#signup-form__btn {
  width: 70%;
  background-color: rgb(236, 94, 94);
  font-size: 1.3rem;
  padding: 10px;
}

/* STYLES FOR THE ICONS */
.child span {
  background-color: var(--ICON-BTN-BG-COLOR);
}
.child span > .fa-solid {
  color: var(--ICON-BTN-COLOR);
}
/* -icons-icons-icons- */

/* ++++++++++  All section styles  ++++++++*/

.review {
  margin-top: 50px;
  text-align: center;
  height: 20%;
  padding: 20px;
}

.review i {
  color: var(--ICON-REVIEW-COLOR);
}

section {
  margin-top: 10px;
}
/* FOOTER STYLES */

footer {
  background-color: var(--FOOTER-BG-COLOR);
  padding: 10px;
}

.footer__item h5 {
  display: inline-block;
  width: 40%;
}

.footer__item {
  display: flex;
  justify-content: space-around;
}

.footer__item span {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item__ul {
  display: none;
}

footer section:last-of-type {
  text-align: center;
}
/* HOVERING QUESTION MARK */

.question {
  display: none;
}

.question:hover,
.question:focus {
  background-color: rgb(211, 23, 23);
}

.question span {
  color: var(--TEXT-COLOR);
  font-size: 1.3rem;
  font-weight: 700;
}

/* LARGER SCREENS */
@media screen and (min-width: 1024px) {
  nav {
    height: 80px;
  }

  #navmenu {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  #first-nav li,
  #last-nav .first-item {
    border-radius: 50px;
    padding: 2px 8px;
  }

  #last-nav {
    margin-right: 50px;
  }

  #start-free-btn {
    border-radius: 50px;
    width: 160px;
  }
  /* active, hover and focus effect for nav links */
  .nav-item:hover,
  .nav-item:focus,
  #last-nav .first-item:hover,
  #last-nav .first-item:focus {
    background-color: var(--NAV-HOVER-BG-COLOR);
  }

  main {
    padding: 100px;
  }

  main section {
    height: 100vh;
  }

  /* First section*/

  .main__section1 {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
  }

  .section1__div1 {
    width: 48%;
    padding: 10px;
    outline: 2px solid green;
  }

  .section1__div2 {
    width: 48%;
    padding: 10px;
    outline: 2px solid blue;
  }

  .section1-img {
    width: 100%;
    border-radius: 20px;
    height: 600px;
  }

  /* SECTION 2 */

  .main__section2 {
    height: 73vh;
    margin: 50px 0;
  }

  .section2-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60%;
  }

  .child {
    width: 30%;
    height: 100%;
  }

  .child h4 {
    height: 60px;
    margin: 10px 0;
    padding: 5px;
  }
  /* SECTION 6 */

  .signup-form {
    margin-top: 20px;
    padding: 30px;
    height: 40vh;
  }

  #signup-form__btn {
    width: 30%;
    padding: 10px;
  }

  /*  general section styles */

  h1 {
    font-size: 3rem;
  }

  .hero-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .intro,
  .media {
    width: 45%;
    padding: 10px;
  }
}

/* EXTRA LARGE SCREEN */
@media screen and (min-width: 1280px) {
  /* FOOTER AND IT'S CHILDREN*/
  .footer__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }

  .footer__item h5 {
    width: 10%;
  }

  .footer__item span {
    display: none;
  }

  /* the small ul styles */
  .footer__item__ul {
    display: flex;
    justify-content: flex-start;
    width: 85%;
  }

  .footer__item__ul li {
    margin: 0 20px;
    list-style: none;
    font-size: clamp(0.8rem, 0.9rem, 1rem);
  }

  .footer__item__ul li a {
    color: var(--FOOTER-TEXT-COLOR);
  }

  /* QUESTION MARK THINGY  */

  .question {
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--LOGO-COLOR);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
